.container {
  height: 100vh;
  width: 200px;
  border-radius: 0 !important;
  a,
  a:hover {
    text-decoration: none;
  }
  a {
    color: #888;
    transition: all 0.3s;
    &:global(.active) {
      color: #0096fa;
    }
  }
}
